:root {
    --background-color: #F9FAFB;
    --bar-color: #FBF0D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}

body {
    background-color: var(--background-color);
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Styly pro menu */
#menu-container {
    box-shadow: 0 0 20px 15px #838383;
    background-color: #0C2738;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    z-index: 10;
    position: relative;
}

.menu-list {
    list-style-type: none;
    display: flex;
    position: fixed;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-weight: 600;
    color: #fff;

}

#dp-logo-box {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-item-box {
    cursor: pointer;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 250ms linear;
}

.menu-item-box:hover {
    border: 1px solid white;
}

.menu-item {
    width: auto;
    cursor: pointer;
}

/* Styly pro graf a tabulku */

#for-user {
    flex: 10;
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#graf-container {
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* .chartjs-canvas {
    cursor: crosshair;
} */

/* Styly pro Tabulator tabulku */
.date-box {
    margin-block: 3rem;
    display: flex;
    gap: 10rem;
}

#example-table {
    width: 100%;
    margin-block: 3rem;
}

#example-table .tabulator {
    background-color: var(--background-color);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#example-table .tabulator-header {
    background-color: #0C2738;
    color: white;
}

#example-table .tabulator-header .tabulator-col {
    padding: 10px;
    border-right: 1px solid #ddd;
    background-color: #0AB0A4;
}

#example-table .tabulator-header .tabulator-col:last-child {
    border-right: none;
}

#example-table .tabulator-row {
    border-bottom: 1px solid #ddd;
}

#example-table .tabulator-row:nth-child(even) {
    background-color: var(--bar-color);
}

#example-table .tabulator-cell {
    padding: 10px;
    border-right: 1px solid #ddd;
}

#example-table .tabulator-cell:last-child {
    border-right: none;
}

#example-table .tabulator-row:hover {
    background-color: #f1f1f1;
}

/* Styly pro container */
#main-container {
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Styly pro lištu kroků */
#steps-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--bar-color);
    width: 60vw;
    height: 3rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.para-box {
    width: 20vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 1;
}

#slider {
    content: "";
    width: 20vw;
    height: 3rem;
    border: 2px solid #f78d15;
    border-radius: 5px;
    position: absolute;
    left: 0;
    transition: all 250ms linear;
}

/* Styly pro nadpisy */
.heading-box {
    letter-spacing: 2px;
    font-size: 1.5rem;
}

/* Styly pro step 3 */
#step3 {
    display: flex;
    justify-content: center;
}

#step3-heading-box {
    font-size: 40px;

}



/* Styly pro info*/
#info-first_step {
    text-align: center;
}

.info-dataplus {
    padding-bottom: 1rem;
}

#info-dns-box {
    text-align: center;
    padding-inline: 1rem;
}

.dns-info,
.go-back,
.send-verified-text {
    margin-block: 1rem;
}

.dns-records {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
}

#advisio-link {
    text-decoration: none;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #E7302A;
}

/* Styly pro box s doménami */
.main-box {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.chck-domain-box {
    display: flex;
    flex-direction: row;
}

input[type="checkbox"],
label {
    cursor: pointer;
}

#domain-container,
#new-domains-box {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.denied {
    display: flex;
    gap: 1.5rem;
}

.denied::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./svg/xmark-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.granted {
    display: flex;
    gap: 1.5rem;
}

.granted::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./svg/check-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Styly pro setting container */
#setting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 10rem;
    margin-top: 6rem;
    text-align: left;
    line-height: 2rem;
}

#setting-container p {
    font-size: 20px;
}

.setting-info {
    margin-block: 3rem;
}

ul {
    list-style-type: none;
}

/* Styly pro help container */
#help-container {
    font-size: 2rem;
    line-height: 4rem;
}


/* Styly pro checkboxy */
input[type="checkbox"] {
    margin-right: 1rem;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #e1e8ea;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms linear;
}

input[type="checkbox"]:checked {
    content: url(./svg/check-solid.svg);
    padding: 5px;
}

.verified-chckbox {
    content: url(./svg/check-solid.svg);
    padding: 5px;
    background-color: #499649 !important;
    cursor: not-allowed !important;
}

.verified-label {
    cursor: not-allowed;
    color: #a6a6a6;
}

/* Styly pro nový mail */
#new-mail-box {
    margin-top: 10rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

}

input[type="email"] {
    padding: 0.5rem;
    outline: none;
    border: 2px solid #f78d15;
    border-radius: 5px;
    font-size: 1rem;
}

/* Styly pro tlačítka */
.btn {
    cursor: pointer;
    background: #f78d15 linear-gradient(210deg, #f3c22b, #f78d15);
    color: #fff;
    padding: 1em 3em;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 900;
    font-style: normal;
    max-width: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-width: 0;
    border-radius: 100vh;
    justify-content: center;
    vertical-align: middle;
    outline: 0 !important;
    box-shadow: 0 0.6rem 1.133rem 0 rgba(0, 0, 0, 0.2),
        0 0.4rem 2.333rem 0 rgba(0, 0, 0, 0.15);
    transition: all 250ms linear;
}

.btn:hover {
    background: #fba23c;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1),
        0 1.25rem 3.75rem rgba(0, 0, 0, 0.1);
}

/* Styly pro kontakt */
#contact {
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgb(117, 117, 117);
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}

#tel {
    text-decoration: none;
    font-weight: 700;
    color: rgb(117, 117, 117);
    font-size: 15px;
}

/* Styly pro skrytí elementu */
.hidden {
    display: none !important;
    z-index: -1;
}

.active {
    border: 1px solid white !important;
}

/* Styly pro tlačítko během ověřování */
.checking-btn {
    cursor: progress;
    background: #a6a6a6 !important;
    color: #fff;
    padding: 1em 3em;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 900;
    font-style: normal;
    max-width: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-width: 0;
    border-radius: 100vh;
    justify-content: center;
    vertical-align: middle;
    outline: 0 !important;
    box-shadow: 0 0.6rem 1.133rem 0 rgba(0, 0, 0, 0.2),
        0 0.4rem 2.333rem 0 rgba(0, 0, 0, 0.15);
    transition: all 250ms linear;
}

/* Styly pro tabulku */
.tabulator-cell {
    cursor: default;
}

.clickable-cell {
    cursor: pointer;
}

#loading {
    position: absolute;
    font-size: 30px;
    top: 20px;
    /* left: 0; */
}
