:root {
    --background-color: #F9FAFB;
    --bar-color: #FBF0D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}

body {
    background-color: var(--background-color);
}

/* Kontejner */
#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Menu sekce */
#menu-container {
    box-shadow: 0 0 20px 15px #838383;
    background-color: #0C2738;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    z-index: 10;
    position: relative;
    padding: 5px; /* Adds padding around the container */
}

.menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-weight: 600;
    color: #fff;
    width: max-content; /* Ensures the width is as wide as its content */
    padding: 5px; /* Adds padding inside the menu list */
}

#dp-logo-box {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-item-box {
    cursor: pointer;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 250ms linear;
}

.menu-item-box:hover {
    border: 1px solid white;
}

.menu-item {
    width: auto;
    cursor: pointer;
}

/* Sekce pro uživatele */
#for-user {
    flex: 10;
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Kontejner grafu */
#graf-container {
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Styly pro Tabulator tabulku */
.date-box {
    margin-block: 3rem;
    display: flex;
    gap: 10rem;
}

#example-table {
    width: 100%;
    margin-block: 3rem;
    font-size: 13px;

}

#example-table .tabulator {
    background-color: var(--background-color);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#example-table .tabulator-header {
    background-color: #0AB0A4;
    color: white;
}

#example-table .tabulator-header .tabulator-col {
    padding: 5px;
    border-right: 1px solid #ddd;
    background-color: #0AB0A4;
}

#example-table .tabulator-header .tabulator-col:last-child {
    border-right: none;
}

#example-table .tabulator-row {
    border-bottom: 1px solid #ddd;
}

#example-table .tabulator-row:nth-child(even) {
    background-color: #d3d3d380;
}

#example-table .tabulator-cell {
    padding: 10px;
    border-right: 1px solid #ddd;
}

#example-table .tabulator-cell:last-child {
    border-right: none;
}

#example-table .tabulator-row:hover {
    background-color: #0ab0a538;
}

#example-table .tabulator-calcs-holder {
    font-size: 12px;
}

/* Hlavní kontejner */
#main-container {
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Lišta kroků */
#steps-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--bar-color);
    width: 60vw;
    height: 3rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.para-box {
    width: 20vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 1;
}

#slider {
    content: "";
    width: 20vw;
    height: 3rem;
    border: 2px solid #f78d15;
    border-radius: 5px;
    position: absolute;
    left: 0;
    transition: all 250ms linear;
}

/* Nadpisy */
.heading-box {
    letter-spacing: 2px;
    font-size: 1.5rem;
}

/* Krok 3 */
#step3 {
    display: flex;
    justify-content: center;
}

#step3-heading-box {
    font-size: 40px;
}

/* Informace */
#info-first_step {
    text-align: center;
}

.info-dataplus {
    padding-bottom: 1rem;
}

#info-dns-box {
    text-align: center;
    padding-inline: 1rem;
}

.dns-info,
.go-back,
.send-verified-text {
    margin-block: 1rem;
}

.dns-records {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
}

#advisio-link {
    text-decoration: none;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #E7302A;
}

/* Box s doménami */
.main-box {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.chck-domain-box {
    display: flex;
    flex-direction: row;
}

input[type="checkbox"],
label {
    cursor: pointer;
}

#domain-container,
#new-domains-box {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.denied {
    display: flex;
    gap: 1.5rem;
}

.denied::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./svg/xmark-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.granted {
    display: flex;
    gap: 1.5rem;
}

.granted::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./svg/check-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Kontejner pro úvod */
#home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10rem;
    margin-top: 6rem;
    text-align: center;
    line-height: 2rem;
}

#home-container h1 {
    margin-block: 3rem;
}

#home-container p {
    font-size: 20px;
}

/* Kontejner nastavení */
#setting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 10rem;
    margin-top: 6rem;
    text-align: left;
    line-height: 2rem;
}



#setting-container p {
    font-size: 20px;
}

.setting-info {
    margin-block: 3rem;
}

/* Styl pro seznamy */
ul {
    list-style-type: none;
}

/* Kontejner nápovědy */
#help-container {
    font-size: 2rem;
    line-height: 4rem;
}

/* Checkboxy */
input[type="checkbox"] {
    margin-right: 1rem;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #e1e8ea;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms linear;
}

input[type="checkbox"]:checked {
    content: url(./svg/check-solid.svg);
    padding: 5px;
}

.verified-chckbox {
    content: url(./svg/check-solid.svg);
    padding: 5px;
    background-color: #499649 !important;
    cursor: not-allowed !important;
}

.verified-label {
    cursor: not-allowed;
    color: #a6a6a6;
}

/* Box pro nový e-mail */
#new-mail-box {
    margin-top: 10rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

input[type="email"] {
    padding: 0.5rem;
    outline: none;
    border: 2px solid #f78d15;
    border-radius: 5px;
    font-size: 1rem;
}

/* Tlačítka */
.btn {
    cursor: pointer;
    background: #f78d15 linear-gradient(210deg, #f3c22b, #f78d15);
    color: #fff;
    padding: 1em 3em;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 900;
    font-style: normal;
    max-width: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-width: 0;
    border-radius: 100vh;
    justify-content: center;
    vertical-align: middle;
    outline: 0 !important;
    box-shadow: 0 0.6rem 1.133rem 0 rgba(0, 0, 0, 0.2),
        0 0.4rem 2.333rem 0 rgba(0, 0, 0, 0.15);
    transition: all 250ms linear;
}

.btn:hover {
    background: #fba23c;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1),
        0 1.25rem 3.75rem rgba(0, 0, 0, 0.1);
}

/* Kontakt */
#contact {
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgb(117, 117, 117);
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}

#tel {
    text-decoration: none;
    font-weight: 700;
    color: rgb(117, 117, 117);
    font-size: 15px;
}

/* Skrytí elementu */
.hidden {
    display: none !important;
    z-index: -1;
}

/* Aktivní element */
.active {
    border: 1px solid white !important;
}

/* Tlačítko během ověřování */
.checking-btn {
    cursor: progress;
    background: #a6a6a6 !important;
    color: #fff;
    padding: 1em 3em;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 900;
    font-style: normal;
    max-width: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-width: 0;
    border-radius: 100vh;
    justify-content: center;
    vertical-align: middle;
    outline: 0 !important;
    box-shadow: 0 0.6rem 1.133rem 0 rgba(0, 0, 0, 0.2),
        0 0.4rem 2.333rem 0 rgba(0, 0, 0, 0.15);
    transition: all 250ms linear;
}

/* Tabulková buňka */
.tabulator-cell {
    cursor: default;
}

.clickable-cell {
    cursor: pointer;
}

/* Načítání */
#loading {
    position: absolute;
    font-size: 30px;
    top: 50%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.bar-chart {
    width: 150px;
    height: 150px;
    position: relative;
    top: 100%;
}

.bar {
    fill: #00ac9d;
    animation: pulsate 2s infinite;
    transform-origin: bottom;
}

.bar1 {
    animation-delay: 0.2s;
}

.bar2 {
    animation-delay: 0.3s;
}

.bar3 {
    animation-delay: 0.4s;
}

@keyframes pulsate {

    0%,
    100% {
        transform: scaleY(1);
        opacity: 1;
    }

    50% {
        transform: scaleY(2);
        opacity: 0.5;
    }
}

/* Missing Data */
.missing-data {
    position: absolute;
    top: 30%;
    font-size: 20px;
    text-align: center;
}

.missing-data h1 {
    margin-bottom: 3rem;
}